.section-conatct-one{
    width: 100%;
    margin: 0 auto;
    max-width: 950px;
    form{
        .btn{
            display: block;
            width: 100%;
            margin-top: 1rem;
            height: 45px;
            font-size: 18px;
        }
    }

    h2{
        margin-bottom: 2rem;
    }
    .contact-content{
        .list{
            a{
                width: fit-content;
                display: flex;
                align-items: center;
                color: #3e3e3e;
                font-size: 24px;
                text-decoration: none;
                > i {
                    font-size: 28px;
                    margin-right: 1rem;
                }
                &:hover{
                    color: $secondary_color;
                }
            }
            h4{
                font-size: 18px;
                color: #3e3e3e;
                margin-bottom: 0.5rem;
            }
            h6{
                color: #797979;
                margin: 1rem 0 !important;
            }
            p{
                color: #a9a9a9;
            }
            margin-bottom: 2rem;
        }
    }
}