.app-layout {
    &.Home {
        .section-about {
            p {
                text-align: center;
            }
        }

        .section-courses {
            background: #F3F3F3;

            .slick-slide>div {
                margin: 0 10px;
            }

            .slick-list {
                margin: 0 -10px;
                padding: 10px 0;
            }

            .slick-arrow{
                &.slick-prev{
                    &::before{
                        content: '';
                        display: block;
                        border-left: 2px solid white;
                        border-top: 2px solid white;
                        width: 12px;
                        height: 12px;
                        float: right;
                        transform: translate(-95%, -5%) rotate(-45deg);
                    }
                }
                &.slick-next{
                    &:before{
                        content: '';
                        display: block;
                        border-right: 2px solid white;
                        border-bottom: 2px solid white;
                        width: 12px;
                        height: 12px;
                        transform: translate(75%, 0%) rotate(-45deg);
                    }
                }
                width: 40px;
                height: 40px;
                border: 0;
                z-index: 1;
                border-radius: 4px;
                background-color: $primary_color;
            } 

            .card{
                transition: all ease .4s;
                .card-body{
                    .card-title{
                        font-size: 20px;
                    }
                    .card-text{
                        font-size: 14px;
                        line-height: 22px;
                    }
                    .btn{
                        width: 100%;
                        height: 50px;
                        font-size: 16px;
                        margin-top: 1rem;
                    }
                }
                &:hover{
                    background-color: #B7C5E1;
                    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.25);
                }
            }
        }

        .section-marchandaise{
            .figure{
                padding: 1rem;
                display: block;
                border-radius: 4px;
                background-color: #f4f4f4;
                border: 1px solid #e6e6e6;
                img{
                    max-width: 500px;
                    height: auto;
                    margin: auto;
                }
            }
            .carousel-caption{
                position: static;
                left: auto;
                right: auto;
                top: auto;
                bottom: auto;
                color: #383838;
                text-align: left;
                padding-left: 2rem;
                h4{
                    font-size: 36px;
                    margin: 1rem 0;
                    color: $secondary_color;
                }
            }

            .carousel-indicators [data-bs-target]{
                background-color: #383838;
            }

            .carousel-control-prev,
            .carousel-control-next{
                width: auto;
                > span{
                    background-color: $primary_color;
                }
            }
            .carousel-control-next{
                right: 50%;
                padding: 0 12px;
            }
        }

        .section-clients{
            .slick-slide img{
                margin: 0 auto;
            }
        }
    }
}