.page-list{
    .figure{
        position: relative;
        margin-bottom: 30px;
        overflow: hidden;
        cursor: pointer;
        &::before{
            content: " ";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-color: rgba(black, 0.6);
        }
        .figure-img{
            margin: 0;
            transition: all ease 0.4s;
        }
        .figure-caption{
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            padding: 0.5rem;
            width: 85%;
            text-align: center;
            font-size: 22px;
            color: white;
            height: fit-content;
            border-radius: 2px;
            transition: all ease 0.4s;
            z-index: 2;
        }
        &:hover{
            .figure-img{
                transform: scale(1.1);
            }
            // .figure-caption{
            //     background-color: white;
            //     color: $secondary_color;
            // }
        }
    }
}