.app-banner{
    width: 100%;
    background: #ff5722;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    > i{
        display: inline-block;
        margin-right: 1rem;
        font-style: normal;
    }
}