.app-footer {
    padding: 0.5rem 0;
    background-color: $primary_color;
    .container {
        p {
            text-align: center;
            font-size: 12px;
            color: white;
        }
    }
}