.app-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    .navbar {
        .navbar-brand{
            max-width: 220px;
            padding: 0;
            img{
                display: block;
                max-width: 100%;
            }
        }
        .menu-wrap{
            .navbar-nav{
                .nav-link{
                    color: white;
                }
            }
        }
    }
}