.app-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 8;
    transition: all ease .4s;

    .navbar {
        .navbar-brand {
            max-width: 220px;
            padding: 0;

            img {
                display: block;
                max-width: 100%;
            }
        }

        .menu-wrap {
            .navbar-nav {
                .nav-link {
                    color: white;
                    font-size: 14px;
                    padding: 0.5rem 1rem;
                    display: flex;
                    align-items: center;
                    &:hover{
                        opacity: 0.5;
                    }
                }

                &.nav-social{
                    align-items: center;
                    .nav-link {
                        padding: 0 1rem;
                        i {
                            display: inline-block;
                            &.icon-facebook{

                            }
                            &.icon-linkedin{
                                font-size: 22px;
                            }
                            &.icon-youtube{
                                font-size: 16px;
                            }
                        }
                    }
                }

                .dropdown {
                    .dropdown-menu {
                        .nav-link {
                            color: #3e3e3e;
                            font-size: 14px;
                            opacity: 1 !important;
                            > span{
                                padding: 0;
                                background: transparent !important;
                            }
                            &:hover{
                                background-color: rgba($primary_color, 0.2);
                            }
                        }
                    }
                }
            }
        }

        
    }

    &.scroll-active {
        background-color: black;

        .navbar {
            .navbar-brand {
                max-width: 120px;

                img {
                    height: auto;
                }
            }

            .menu-wrap {
                .navbar-nav {
                    .nav-link {
                        color: #b8b7b7;
                        font-size: 12px;
                    }
                }
            }
        }
    }
}