.app-mainframe{
    width: 100%;
    height: 250px;
    overflow: hidden;
    background: $default_gradient;
    position: relative;
    &::before{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background: $default_gradient;
    }
    .brand-title{
        width: fit-content;
        background-color: white;
        padding: 0.5rem 1rem;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        color: $primary_color;
    }

    .mainframe-title{
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 48px;
        color: white;
        margin-bottom: 3rem;
    }

    .container{
        align-items: end;
        justify-content: center;
        position: relative;
        height: 100%;
        z-index: 2;
        h3{
            font-family: 'Roboto';
            font-weight: 700;
            font-size: 48px;
            color: white;
            margin-bottom: 1rem;
        }
        p{
            @extend h3;
            font-weight: normal;
            font-size: 18px;
        }
    }

}

// HOME
.page-home {
    .app-mainframe{
        height: 100vh;
        &::before{
            display: none;
        }
        .video-wrap{
            width: 100%;
            height: 100%;
            position: relative;
            &::before{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 2;
                background: $default_gradient;
                opacity: 0.6;
            }
            .container{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                z-index: 3;
                .contet-box{
                    max-width: 600px;
                    position: relative;
                    z-index: 2;
                    margin-top: 4rem;
                }
            }
            video{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                z-index: 1;
            }
        }
        .carousel {
            .carousel-inner{
                .carousel-item{
                    height: 100vh;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    &::before{
                        content: " ";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        @include mainframeBg;
                    }
                    .container{
                        position: relative;
                        height: 100%;
                        .carousel-caption{
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: auto;
                            margin: auto 0;
                            text-align: left;
                            max-width: 60%;
                            height: fit-content;
                            h3{
                                font-family: 'Roboto';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 65px;
                                line-height: 65px;
                            }
                            p{
                                font-family: 'Roboto';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 16px;
                                line-height: 28px;
                            }
                            .btn{
                                margin-top: 1.5rem;
                            }
                        }
                    }
                }
            }
            .carousel-control-prev, .carousel-control-next{
                width: 5%;
            }
        }
    }
}

// PAGE LIST
.page-list{
    .app-mainframe{
        background: url('../../images/bg_bachelors.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    } 
}

// DETAILS
.page-details{
    .app-mainframe{
        background: url('../../images/bg_details.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    } 
}

// DETAILS
.page-apply-now{
    .app-mainframe{
        background: url('../../images/bg_apply.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    } 
}

// FAQ
.page-faq{
    .app-mainframe{
        background: url('../../images/bg_faq.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    } 
}

// CONATCT
.page-conatct{
    .app-mainframe{
        background: url('../../images/bg_contact.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    } 
}

// PLACES TO VISIT
.place-to-visit,
.page-place-visit{
    .app-mainframe{
        background: url('../../images/bg_places.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    } 
}