.app-mainframe{
    width: 100%;
    height: 250px;
    overflow: hidden;
    background: $default_gradient;
    position: relative;
    &::before{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background: $default_gradient;
    }
    .brand-title{
        width: fit-content;
        background-color: white;
        padding: 0.5rem 1rem;
        @include font-family($font-primary, 24px, $primary_color, 800, 1);
    }

    .mainframe-title{
        margin-bottom: 3rem;
        @include font-family($font-primary, 48px, white, 700, 1);
    }

    .container{
        align-items: end;
        justify-content: center;
        position: relative;
        height: 100%;
        z-index: 2;
        h3{
            margin-bottom: 1rem;
            @include font-family($font-primary, 48px, white, 700, 1);
        }
        p{
            @extend h3;
            font-weight: normal;
            font-size: 16px;
            line-height: 20px;
        }
    }

}

// HOME
.page-home {
    .app-mainframe{
        height: 100vh;
        &::before{
            display: none;
        }
        .video-wrap{
            width: 100%;
            height: 100%;
            position: relative;
            &::before{
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 2;
                background: $default_gradient;
                opacity: 0.6;
            }
            .container{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                z-index: 3;
                .contet-box{
                    max-width: 600px;
                    position: relative;
                    z-index: 2;
                    margin-top: 4rem;
                }
            }
            video{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                margin: 0 auto;
                z-index: 1;
            }
        }
    }
}

// PAGE LIST
.page-list{
    .app-mainframe{
        background: url('../../images/bg_bachelors.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    } 
}

// DETAILS
.page-details{
    .app-mainframe{
        background: url('../../images/bg_details.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    } 
}

// DETAILS
.page-apply-now{
    .app-mainframe{
        background: url('../../images/bg_apply.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    } 
}

// FAQ
.page-faq{
    .app-mainframe{
        background: url('../../images/bg_faq.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    } 
}

// CONATCT
.page-contact{
    .app-mainframe{
        background: url('../../images/bg_contact.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    } 
}

// PLACES TO VISIT
.place-to-visit,
.page-place-visit{
    .app-mainframe{
        background: url('../../images/bg_places.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    } 
}

// ABOUT
.page-about{
    .app-mainframe{
        background: url('../../images/bg_about.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    } 
}