.app-title{
    @include font-family($font-primary, 56px, $text_title_color, 800, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    span{
        display: inline-block;
        width: 125px;
        height: 8px;
        margin-top: 1rem;
        background-color: $secondary_color;
    }

    &.left{
        align-items: left;
    }

    p{
        max-width: 80%;
        margin-top: 1rem;
        text-align: center;
        @include font-family($font-primary, 14px, rgba($text_parah_color, 0.5), 400, 20px);
    }
}