

.icon-connect-whatsapp{
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 2rem;
    z-index: 9;
    padding: 0.5rem;
    border-radius: 4px;
    background-color: white;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: all ease .4s;
    color: white;
    box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.15);
    .icon{
        margin-top: -4px;
        font-size: 40px;
        color: #25D366;
    }
    &:hover{
        color: #25D366;;
        background-color: #25D366;
        box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.15);
        .icon{
            color: white;
        }
    }
}