@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('../../fonts/ibarraRealNova/IbarraRealNova-Regular.woff2') format('woff2'),
        url('../../fonts/ibarraRealNova/IbarraRealNova-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('../../fonts/ibarraRealNova/IbarraRealNova-Medium.woff2') format('woff2'),
        url('../../fonts/ibarraRealNova/IbarraRealNova-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('../../fonts/ibarraRealNova/IbarraRealNova-Bold.woff2') format('woff2'),
        url('../../fonts/ibarraRealNova/IbarraRealNova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ibarra Real Nova';
    src: url('../../fonts/ibarraRealNova/IbarraRealNova-SemiBold.woff2') format('woff2'),
        url('../../fonts/ibarraRealNova/IbarraRealNova-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

