@charset "UTF-8";

@font-face {
  font-family: "barreleye";
  src:url("../../fonts/icons/barreleye.eot");
  src:url("../../fonts/icons/barreleye.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/icons/barreleye.woff") format("woff"),
    url("../../fonts/icons/barreleye.ttf") format("truetype"),
    url("../../fonts/icons/barreleye.svg#barreleye") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "barreleye" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "barreleye" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\61";
}
.icon-linkedin:before {
  content: "\62";
}
.icon-youtube:before {
  content: "\63";
}
.icon-powerpoint:before {
  content: "\64";
}
.icon-pdf:before {
  content: "\66";
}
.icon-clock:before {
  content: "\67";
}
.icon-graduation-cap:before {
  content: "\65";
}
.icon-euro:before {
  content: "\68";
}
.icon-file-text-o:before {
  content: "\69";
}
.icon-whatsapp:before {
  content: "\6a";
}
.icon-pin:before {
  content: "\6b";
}
.icon-cancel:before {
  content: "\6c";
}
.icon-check:before {
  content: "\6d";
}
